<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="el.team_application" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ActivityViews.Activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityViews.Activities.MyTeamsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ActivityViews.Activities.InvitationsActivity"
            android:label="@string/title_activity_invitations" >
        </activity>
        <activity
            android:name=".ActivityViews.Activities.WelcomeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ActivityViews.Activities.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ActivityViews.Activities.RegisterActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ActivityViews.Activities.TeamActivity"
            android:label="@string/title_activity_team" >
        </activity>
        <activity
            android:name=".ActivityViews.Activities.CreateTeamActivity"
            android:label="@string/title_activity_create_team" >
        </activity>
        <activity
            android:name=".ActivityViews.Activities.AddTeamMemberActivity"
            android:label="@string/title_activity_add_team_member" >
        </activity>
        <activity
            android:name=".ActivityViews.Activities.AddTaskActivity"
            android:label="@string/title_activity_add_task" >
        </activity>
        <activity
            android:name=".ActivityViews.Activities.EditTaskActivity"
            android:label="@string/title_activity_edit_task" >
        </activity>
        <activity
            android:name=".ActivityViews.Activities.EditTeamMemberActivity"
            android:label="@string/title_activity_edit_team_member" >
        </activity>
    </application>

</manifest>
